# `Aula 1`
# `Conhecendo a base de dados`

### 1.1. Importando os dados

In [ ]:
import pandas as pd

In [ ]:
database = 'aluguel.csv'

df = pd.read_csv(
    database,
    sep=';'
)

df

In [ ]:
df.head(10)

In [ ]:
df.tail(10)

### 1.2. Características gerais da base de dados

In [ ]:
df.shape

In [ ]:
df.columns

In [ ]:
df.info()

In [ ]:
# Visualizando uma coluna específica
df['Tipo']

In [ ]:
df[['Bairro', 'Tipo', 'Valor', 'Area']]

# `Aula 2`
# `Análise exploratória de dados`

### 2.1. Qual o valor médio de aluguel por tipo de imóvel?

In [ ]:
# Separando apenas as colunas que irei utilizar
tipo_valor = df[['Tipo', 'Valor']]
tipo_valor

In [ ]:
# Agrupando valores por tipo e calculando a média por agrupamento
df.groupby('Tipo').mean(numeric_only=True)

# agrupando por uma coluna específica
df.groupby('Tipo')[['Valor']].mean()

In [ ]:
# Agrupando valores por tipo e calculando a soma por agrupamento
df.groupby('Tipo')[['Valor']].sum()

In [ ]:
# Agrupando valores por tipo e calculando o número de reptições por agrupamento
df.groupby('Tipo')[['Valor']].count()

In [ ]:
# Se quisermos com que a tabela seja mostrada em forma de DataFrame, basta colacar o mais um par de [] em ['Valor']
df.groupby('Tipo')[['Valor', 'Condominio', 'IPTU']].mean()

In [ ]:
# Podemos também ordenar esses valores com a função 'sort_values()'
df_valor_tipo = df.groupby('Tipo')[['Valor']].mean().sort_values('Valor')

In [ ]:
df_valor_tipo.plot(kind='barh', figsize=(14, 10), color='purple')

### 2.2. Removendo os imóveis comerciais

In [ ]:
# fazenod um 'set' de um Series do nosso DataFrame
df['Tipo'].unique()

In [ ]:
imoveis_comerciais = ['Conjunto Comercial/Sala', 
                      'Prédio Inteiro', 'Loja/Salão', 
                      'Galpão/Depósito/Armazém', 
                      'Casa Comercial', 'Terreno Padrão',
                      'Loja Shopping/ Ct Comercial',
                      'Box/Garagem', 'Chácara',
                      'Loteamento/Condomínio', 'Sítio',
                      'Pousada/Chalé', 'Hotel', 'Indústria']

In [ ]:
# Criando um DataFrame sem os tipos de imóveis comerciais
imoveis_residenciais = df.query('@imoveis_comerciais not in Tipo')
imoveis_residenciais

In [ ]:
# Vando tipos únicos do novo DataFrame
imoveis_residenciais['Tipo'].unique()

In [ ]:
# Plotando gráfico
imoveis_residenciais_media = imoveis_residenciais.groupby('Tipo')[['Valor']].mean().sort_values('Valor')
imoveis_residenciais_media.plot(kind='barh', figsize=(14, 10), color='blue')

### 2.3. Qual o percentual de cada tipo de imóvel na nossa base de dados?

In [ ]:
# contando o número de vezes que um grupo repete
imoveis_residenciais[['Tipo']].value_counts().to_frame()

In [188]:
# trazendo o valor de repetições de um determinado grupo em porcetangem, transformando para DataFrame e ordenando em ordem descendente
df_imoveis_residenciais = imoveis_residenciais['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo', ascending=False)
df_imoveis_residenciais.rename(columns={'proportion': 'Percentual'}, inplace=True)
df_imoveis_residenciais = df_imoveis_residenciais.reset_index()

                 Tipo  Percentual
0              Studio    0.000173
1           Quitinete    0.036173
2                Loft    0.002207
3                Flat    0.020596
4        Casa de Vila    0.010774
5  Casa de Condomínio    0.043096
6                Casa    0.041842
7         Apartamento    0.845139

In [ ]:
df_imoveis_residenciais.plot(
    kind='bar',
    figsize=(14, 8),
    color='green',
    xlabel='Tipos',
    ylabel='Percentual'
)

### 2.3. Selecionando apenas os imóveis do tipo apartamento

In [ ]:
df = df.query('Tipo == "Apartamento"')
df.head(10)

# `Aula 3` 
# `Tratando e filtrando os dados`

### 3.1. Lidando com dados nulos

### 3.2. Removendo registros

### 3.3. Filtros

3.3.1 Apartamentos que possuem **1 quarto** e **aluguel menor que 1200**

3.3.2. **Apartamentos** que possuem pelo menos **2 quartos**, **aluguel menor que 3000** e **area maior que 70**

### 3.4. Salvando os dados

# `Aula 4`
# `Manipulando os dados`

### 4.1. Criando colunas numéricas

### 4.2. Criando colunas categóricas