# `Aula 1`
# `Conhecendo a base de dados`

### 1.1. Importando os dados

In [13]:
import pandas as pd

In [14]:
database = 'aluguel.csv'

df = pd.read_csv(
    database,
    sep=';'
)

df

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
...,...,...,...,...,...,...,...,...,...
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

In [15]:
df.head(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Quitinete,Copacabana,1,0,0,40,1700.0,500.0,60.0
1,Casa,Jardim Botânico,2,0,1,100,7000.0,NaN,NaN
2,Conjunto Comercial/Sala,Barra da Tijuca,0,4,0,150,5200.0,4020.0,1111.0
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,NaN
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,NaN,NaN
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
7,Casa de Condomínio,Barra da Tijuca,5,4,5,750,22000.0,NaN,NaN
8,Casa de Condomínio,Ramos,2,2,0,65,1000.0,NaN,NaN
9,Conjunto Comercial/Sala,Centro,0,3,0,695,35000.0,19193.0,3030.0

In [16]:
df.tail(10)

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
32950,Apartamento,Tijuca,1,0,0,28,1000.0,360.0,25.0
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,NaN
32952,Casa de Condomínio,Barra da Tijuca,5,3,4,450,15000.0,1711.0,2332.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32954,Box/Garagem,Centro,0,0,0,755,14000.0,NaN,NaN
32955,Quitinete,Centro,0,0,0,27,800.0,350.0,25.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,NaN
32959,Conjunto Comercial/Sala,Centro,0,0,0,250,6500.0,4206.0,1109.0

### 1.2. Características gerais da base de dados

In [17]:
df.shape

(32960, 9)

In [18]:
df.columns

Index(['Tipo', 'Bairro', 'Quartos', 'Vagas', 'Suites', 'Area', 'Valor',
       'Condominio', 'IPTU'],
      dtype='object')

In [19]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32960 entries, 0 to 32959
Data columns (total 9 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Tipo        32960 non-null  object
 1   Bairro      32960 non-null  object
 2   Quartos     32960 non-null  int64
 3   Vagas       32960 non-null  int64
 4   Suites      32960 non-null  int64
 5   Area        32960 non-null  int64
 6   Valor       32943 non-null  float64
 7   Condominio  28867 non-null  float64
 8   IPTU        22723 non-null  float64
dtypes: float64(3), int64(4), object(2)
memory usage: 2.3+ MB

In [20]:
# Visualizando uma coluna específica
df['Tipo']

0                      Quitinete
1                           Casa
2        Conjunto Comercial/Sala
3                    Apartamento
4                    Apartamento
                  ...
32955                  Quitinete
32956                Apartamento
32957                Apartamento
32958                Apartamento
32959    Conjunto Comercial/Sala
Name: Tipo, Length: 32960, dtype: object

In [21]:
df[['Tipo', 'Quartos', 'Valor']]

                          Tipo  Quartos   Valor
0                    Quitinete        1  1700.0
1                         Casa        2  7000.0
2      Conjunto Comercial/Sala        0  5200.0
3                  Apartamento        1   800.0
4                  Apartamento        1   800.0
...                        ...      ...     ...
32955                Quitinete        0   800.0
32956              Apartamento        3  1800.0
32957              Apartamento        2  1400.0
32958              Apartamento        2  3000.0
32959  Conjunto Comercial/Sala        0  6500.0

[32960 rows x 3 columns]

# `Aula 2`
# `Análise exploratória de dados`

### 2.1. Qual o valor médio de aluguel por tipo de imóvel?

In [23]:
# Separando apenas as colunas que irei utilizar
tipo_valor = df[['Tipo', 'Valor']]
tipo_valor

                          Tipo   Valor
0                    Quitinete  1700.0
1                         Casa  7000.0
2      Conjunto Comercial/Sala  5200.0
3                  Apartamento   800.0
4                  Apartamento   800.0
...                        ...     ...
32955                Quitinete   800.0
32956              Apartamento  1800.0
32957              Apartamento  1400.0
32958              Apartamento  3000.0
32959  Conjunto Comercial/Sala  6500.0

[32960 rows x 2 columns]

In [31]:
# Agrupando valores por tipo e calculando a média por agrupamento
tipo_valor.groupby('Tipo').mean(numeric_only=True)

                                     Valor
Tipo
Apartamento                    4744.614648
Box/Garagem                    1899.756098
Casa                           6793.454922
Casa Comercial                14478.264151
Casa de Condomínio            11952.061245
Casa de Vila                   1574.369478
Chácara                        4900.000000
Conjunto Comercial/Sala       14715.045521
Flat                           4546.189076
Galpão/Depósito/Armazém       53407.062600
Hotel                         25000.000000
Indústria                    120000.000000
Loft                           2557.882353
Loja Shopping/ Ct Comercial    8126.178862
Loja/Salão                    13769.646770
Loteamento/Condomínio         22000.000000
Pousada/Chalé                  1480.000000
Prédio Inteiro               498637.239203
Quitinete                      1246.840909
Studio                         2400.000000
Sítio                         12499.000000
Terreno Padrão                32567.714286

In [35]:
# Agrupando valores por tipo e calculando a soma por agrupamento
tipo_valor.groupby('Tipo').sum()

                                   Valor
Tipo
Apartamento                   92638601.0
Box/Garagem                     155780.0
Casa                           6555684.0
Casa Comercial                 3836740.0
Casa de Condomínio            11904253.0
Casa de Vila                    392018.0
Chácara                           4900.0
Conjunto Comercial/Sala      100209460.0
Flat                           2163986.0
Galpão/Depósito/Armazém       33272600.0
Hotel                            50000.0
Indústria                       120000.0
Loft                            130452.0
Loja Shopping/ Ct Comercial    1999040.0
Loja/Salão                    19607977.0
Loteamento/Condomínio           110000.0
Pousada/Chalé                     1480.0
Prédio Inteiro               150089809.0
Quitinete                      1042359.0
Studio                            9600.0
Sítio                           124990.0
Terreno Padrão                 2279740.0

In [44]:
# Agrupando valores por tipo e calculando o número de reptições por agrupamento
df.groupby('Tipo').count()

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
Tipo,,,,,,,,
Apartamento,19532,19532,19532,19532,19532,19525,18787,14060
Box/Garagem,82,82,82,82,82,82,20,26
Casa,967,967,967,967,967,965,210,391
Casa Comercial,265,265,265,265,265,265,31,181
Casa de Condomínio,996,996,996,996,996,996,901,705
Casa de Vila,249,249,249,249,249,249,95,99
Chácara,1,1,1,1,1,1,0,0
Conjunto Comercial/Sala,6815,6815,6815,6815,6815,6810,6442,4608
Flat,476,476,476,476,476,476,433,396
Galpão/Depósito/Armazém,623,623,623,623,623,623,68,374
Hotel,2,2,2,2,2,2,0,2
Indústria,1,1,1,1,1,1,0,0
Loft,51,51,51,51,51,51,46,37
Loja Shopping/ Ct Comercial,247,247,247,247,247,246,211,207
Loja/Salão,1426,1426,1426,1426,1426,1424,819,866
Loteamento/Condomínio,5,5,5,5,5,5,0,3
Pousada/Chalé,1,1,1,1,1,1,1,0
Prédio Inteiro,301,301,301,301,301,301,28,178
Quitinete,836,836,836,836,836,836,772,540
Studio,4,4,4,4,4,4,2,4
Sítio,10,10,10,10,10,10,0,5
Terreno Padrão,70,70,70,70,70,70,1,41

### 2.2. Removendo os imóveis comerciais

### 2.3. Qual o percentual de cada tipo de imóvel na nossa base de dados?

### 2.3. Selecionando apenas os imóveis do tipo apartamento

# `Aula 3` 
# `Tratando e filtrando os dados`

### 3.1. Lidando com dados nulos

### 3.2. Removendo registros

### 3.3. Filtros

3.3.1 Apartamentos que possuem **1 quarto** e **aluguel menor que 1200**

3.3.2. **Apartamentos** que possuem pelo menos **2 quartos**, **aluguel menor que 3000** e **area maior que 70**

### 3.4. Salvando os dados

# `Aula 4`
# `Manipulando os dados`

### 4.1. Criando colunas numéricas

### 4.2. Criando colunas categóricas